{% extends "base.html" %}
{% block title %}Index {% endblock %}
{% block metadesc %}
<meta name="description" content="index">
{% endblock %}
{% block content %}
  <div class="jumbotron">
    <h1>Flask Jump Start</h1>
    <p class="lead">
      The quick and right way to develop web apps in seconds!
    </p>
    <a class="btn btn-large btn-success" href="#">Sign up today</a>
  </div>
  <hr>
  <div class="marketing row-fluid">
    <div class="span12">
      <h4>Top 100 Billboard Song</h4>
      <p>Lyrics</p>
    </div>
  </div>
  <hr>
<!-- /container -->
{% endblock %}
